# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/

# Streamlit
.streamlit/*
!.streamlit/
!.streamlit/config.toml

# OS files
.DS_Store
Thumbs.db

# Outputs
out/
static/*.html
!static/mapa.html
